/* My custom fonts: Sarabun(For normal text), Staatliches(For header's text)  */

body{
  font-family: Sarabun, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: Staatliches, sans-serif;
  letter-spacing: 1px;
}

.hero h1{
  font-size: 45px;
  line-height: 1.5em;
  justify-content: center;
  display: flex;
  margin: 50px 0;
}

.header{
  display: flex;
  background-color: #585858;
  color: orange;
  height: 204px;
  /* align-items: center; */
  justify-content: space-between;
}

figure{
  margin: 0;
}

.logo img{
  margin-left: 20px;
}

.menu{
  height: inherit;
  margin-right: 20px;
}


.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  display: flex;
  height: inherit;
}

.header a{
  text-decoration: none;
  color: orange;
  display: flex;
  padding: 0 10px;
  height: inherit;
  align-items: center;
}

ol,
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
