/* My custom fonts: Sarabun(For normal text), Staatliches(For header's text)  */

body{
  font-family: Sarabun, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: Staatliches, sans-serif;
  letter-spacing: 1px;
}

figure{
  margin: 0;
}

.header{
  display: flex;
  background-color: #585858;
  color: orange;
  height: 204px;
  /* align-items: center; */
  justify-content: space-between;
}

.logo img{
  margin-left: 20px;
}

.menu{
  height: inherit;
  margin-right: 20px;
}


.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  display: flex;
  height: inherit;
}

.header a{
  text-decoration: none;
  color: orange;
  display: flex;
  padding: 0 10px;
  height: inherit;
  align-items: center;
}

ol,
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero{
  background-color: #585858;
  height: 117px;
  margin: 0px;
}

.hero h1{
  font-size: 45px;
  line-height: 1.5em;
  justify-content: center;
  display: flex;
  margin: 0;
  color: #D5730B;
}

.projects{
  margin: 15px;
  display: flex;
  justify-content: center;
}

.project{
  display: inherit;
  /* border: 1px solid red; */
}

.project-details{
  width: 500px;
  margin: 0 auto;
  border: 1px solid #000000;
  padding: 0 10px;
  border-radius: 5px;
}

.projects h2{
  display: flex;
  font-size: 30px;
  height: 30px;
  justify-content: center;
}

.projects h3{
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.project h6{
  display: flex;
  justify-content: center;
}

.project-date{
  display: flex;
  justify-content: center;
  font-size: .6em;
}

.project-description{
  display: flex;
  justify-content: center;
}

.project-repository{
  display: flex;
  justify-content: center;
}

.project-repository a{
  text-decoration: none;
  color: #D5730B;
}

.tecnologie{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.tecnologie-details{
  width: 60%
}

.tecnologie img{
  width: 175px;
  height: 175px;
}

.tecnologies h2{
  margin-top: 80px;
  font-size: 25px;
}

.footer{
  height: 65px;
  background-color: #585858;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 10px; */
}

.footer img{
  width: 50px;
  height: 50px;
}

.footer-figure{
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.container{
  width: 1000px;
  justify-content: center;
  margin: 0 auto;
}
